USE [master]
GO
/****** Object:  Database [KUTUPHANE]    Script Date: 04.08.2019 13:11:54 ******/
CREATE DATABASE [KUTUPHANE] ON  PRIMARY 
( NAME = N'KUTUPHANE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\KUTUPHANE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KUTUPHANE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\KUTUPHANE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KUTUPHANE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KUTUPHANE]
GO
/****** Object:  Table [dbo].[KITAP]    Script Date: 04.08.2019 13:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KITAP](
	[KITAP_REFNO] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](100) NOT NULL,
	[ISBN] [varchar](13) NOT NULL,
	[YAZARI] [varchar](50) NOT NULL,
	[BASIM_TARIHI] [date] NOT NULL,
	[YAYIN_EVI] [varchar](50) NOT NULL,
	[OZET] [varchar](500) NULL,
 CONSTRAINT [PK_KITAP] PRIMARY KEY CLUSTERED 
(
	[KITAP_REFNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ODUNC_KITAP]    Script Date: 04.08.2019 13:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ODUNC_KITAP](
	[ODUNC_KITAP_REFNO] [int] IDENTITY(1,1) NOT NULL,
	[UYE_REFNO] [varchar](30) NOT NULL,
	[KITAP_REFNO] [int] NOT NULL,
	[VERILIS_TARIHI] [date] NOT NULL,
	[ALINIS_TARIHI] [date] NULL,
	[DURUMU] [bit] NOT NULL,
	[ACIKLAMA] [varchar](500) NULL,
 CONSTRAINT [PK_ODUNC_KITAP] PRIMARY KEY CLUSTERED 
(
	[ODUNC_KITAP_REFNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UYE]    Script Date: 04.08.2019 13:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UYE](
	[UYE_REFNO] [int] IDENTITY(1,1) NOT NULL,
	[ADI_SOYAD] [varchar](30) NOT NULL,
	[ADRES] [varchar](150) NOT NULL,
	[TELEFON] [varchar](11) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[EKLEME_TARIHI] [date] NOT NULL,
	[DURUMU] [bit] NOT NULL,
	[ACIKLAMA] [varchar](500) NOT NULL,
 CONSTRAINT [PK_UYE_1] PRIMARY KEY CLUSTERED 
(
	[UYE_REFNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KITAP] ON 

INSERT [dbo].[KITAP] ([KITAP_REFNO], [ADI], [ISBN], [YAZARI], [BASIM_TARIHI], [YAYIN_EVI], [OZET]) VALUES (1, N'Suç ve Ceza', N'123456789', N' Dostoyevski', CAST(N'2019-07-21' AS Date), N'Sel', N'Dünya Klasikleri')
INSERT [dbo].[KITAP] ([KITAP_REFNO], [ADI], [ISBN], [YAZARI], [BASIM_TARIHI], [YAYIN_EVI], [OZET]) VALUES (2, N'Düşünür', N'123456788', N'Anton Çehov', CAST(N'2010-07-15' AS Date), N'İnci', N'Dünya Klasikleri')
INSERT [dbo].[KITAP] ([KITAP_REFNO], [ADI], [ISBN], [YAZARI], [BASIM_TARIHI], [YAYIN_EVI], [OZET]) VALUES (4, N'Vadideki Zambak', N'123456787', N'Balzac', CAST(N'2009-07-21' AS Date), N'İş Bankası', N'Dünya Klasikleri')
SET IDENTITY_INSERT [dbo].[KITAP] OFF
SET IDENTITY_INSERT [dbo].[ODUNC_KITAP] ON 

INSERT [dbo].[ODUNC_KITAP] ([ODUNC_KITAP_REFNO], [UYE_REFNO], [KITAP_REFNO], [VERILIS_TARIHI], [ALINIS_TARIHI], [DURUMU], [ACIKLAMA]) VALUES (1, N'Elif Göksenil ULUTAŞ', 1, CAST(N'2019-08-01' AS Date), NULL, 0, N'Ödünç Verildi.')
INSERT [dbo].[ODUNC_KITAP] ([ODUNC_KITAP_REFNO], [UYE_REFNO], [KITAP_REFNO], [VERILIS_TARIHI], [ALINIS_TARIHI], [DURUMU], [ACIKLAMA]) VALUES (2, N'Emrah İmre', 5, CAST(N'2019-08-02' AS Date), CAST(N'2019-08-02' AS Date), 1, N'Geri alındı.')
INSERT [dbo].[ODUNC_KITAP] ([ODUNC_KITAP_REFNO], [UYE_REFNO], [KITAP_REFNO], [VERILIS_TARIHI], [ALINIS_TARIHI], [DURUMU], [ACIKLAMA]) VALUES (1002, N' İlknur İgan', 17, CAST(N'2019-08-03' AS Date), NULL, 0, N'Ödünç verildi.')
SET IDENTITY_INSERT [dbo].[ODUNC_KITAP] OFF
SET IDENTITY_INSERT [dbo].[UYE] ON 

INSERT [dbo].[UYE] ([UYE_REFNO], [ADI_SOYAD], [ADRES], [TELEFON], [EMAIL], [EKLEME_TARIHI], [DURUMU], [ACIKLAMA]) VALUES (2, N'Elif Göksenil ULUTAŞ', N'Ankara', N'0123456789 ', N'email@gmail.com', CAST(N'2019-08-01' AS Date), 1, N'açıklama')
INSERT [dbo].[UYE] ([UYE_REFNO], [ADI_SOYAD], [ADRES], [TELEFON], [EMAIL], [EKLEME_TARIHI], [DURUMU], [ACIKLAMA]) VALUES (3, N'Elif Ulutaş', N'Ankara', N'0123456789', N'email@gmail.com', CAST(N'2019-08-08' AS Date), 0, N'AÇIKLAMA')
INSERT [dbo].[UYE] ([UYE_REFNO], [ADI_SOYAD], [ADRES], [TELEFON], [EMAIL], [EKLEME_TARIHI], [DURUMU], [ACIKLAMA]) VALUES (4, N'Göksenil Ulutaş', N'Ankara', N'0123456789 ', N'email@gmail.com', CAST(N'2019-08-01' AS Date), 0, N'açıklama')
SET IDENTITY_INSERT [dbo].[UYE] OFF
/****** Object:  Index [IX_UYE_REFNO]    Script Date: 04.08.2019 13:11:56 ******/
ALTER TABLE [dbo].[ODUNC_KITAP] ADD  CONSTRAINT [IX_UYE_REFNO] UNIQUE NONCLUSTERED 
(
	[ODUNC_KITAP_REFNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ODUNC_KITAP]    Script Date: 04.08.2019 13:11:56 ******/
CREATE NONCLUSTERED INDEX [IX_ODUNC_KITAP] ON [dbo].[ODUNC_KITAP]
(
	[ODUNC_KITAP_REFNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADI_SOYAD]    Script Date: 04.08.2019 13:11:56 ******/
ALTER TABLE [dbo].[UYE] ADD  CONSTRAINT [IX_ADI_SOYAD] UNIQUE NONCLUSTERED 
(
	[UYE_REFNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
